/*-      class =
font-effect-anaglyph
font-effect-outline
font-effect-shadow-multiple

    /*---------body---------*/
body {
    position: relative;
    background: url("./images/bg.jpg") ;

}
h1 {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 150px;
}

h2 {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 30px;
}

p {
	font-family: 'Open Sans', sans-serif;
}

a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.center {
	text-align: center;
	align-items: center;
}

.main-body {

}

    /*---------header/ jumbo---------*/
.jumbotron{
	height: 450px;
	background: url("./images/CN-AA369_futcit_M_20160711125352.jpg") ;
	background-size: cover;
	padding-top-top: 1000px;
	z-index: 3 !important;
	padding: 20px;
}

.hero-image {
		z-index: 3 !important;

		}

#prog-bars-txt  p{
	color: purple !important;
}


.card {
	left: 5%;
	align-items: center;


}

.card {
		-webkit-transform: translate(10%, 0px);  /* Chrome, Safari, Opera */
		   -moz-transform: translate(10%, 0px);  /* Firefox */
			-ms-transform: translate(10%, 0px);  /* IE 9 */
				transform: translate(10%, 0px);  /* Standard syntax */    
	}


    /*---------pages/ sections---------*/

.heading-img img {

}


.c1-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 100vw;
	padding-bottom: 120px;
	padding-top: ;


}

.c1-h1 {
	font-size: 200px
	
	background-size: contain;
	position: center ;
	text-shadow: 9px 12px 15px white;
	
}



.c2-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 100vw;
	padding-bottom: 120px;
	padding-top: ;
}

.c2-bg .card-text {
	color: #c749b6
}



.c3-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 100vw;
	padding-bottom: 120px;
	padding-top: ;
}

.c4-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 100vw;
	padding-bottom: 120px;
	padding-top: ;
}

.c5-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 100vw;
	padding-bottom: 120px;
	padding-top: ;

}

.c6-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 100vw;
	padding-bottom: 120px;
	padding-top: ;

}

.c7-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 100vw;
	padding-bottom: 120px;
	padding-top: ;
}

.c8-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 100vw;
	padding-bottom: 120px;
	padding-top: ;
}

.coin-links i {
	margin: 0px 39px 0px 39px;
	color: #777777;
	-webkit-transform: scale(3);  /* Chrome, Safari, Opera */
       -moz-transform: scale(3);  /* Firefox */
        -ms-transform: scale(3);  /* IE 9 */
            transform: scale(3);  /* Modern Browsers */  
        transition: all .27s ease-in;
    -moz-transition: all .27s ease-in;
    -webkit-transition: all .27s ease-in; 

}

i:hover{
	color: #590ecc;
	cursor: pointer;
}





    /*---------nav---------*/
.fb1 {
    position: fixed;
    right: 0;
    bottom: 30%;
    left: 0;
    z-index: -1;
    overflow-y: auto;
    padding-top:450px;
    margin-top:450PX;
    text-decoration: none;


}
nav,
.nav{
	z-index: 0;
	overflow: hidden;
	    padding-top:450px;
    margin-top:450PX;

}


    /*---------footer---------*/
footer{
    height: 100px;

	margin-top: 120px;
}

.social-networks{
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #590ecc;
    text-decoration: none;
}

.progress {
	margin: 20px;
}

.social-networks i:hover, 
a:hover{
color: blue;
cursor: pointer;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}


./images/cn-aa369_futcit_m_201607111253.jpg