/*-      class =
font-effect-anaglyph
font-effect-outline
font-effect-shadow-multiple

    /*---------body---------*/
body {
    position: relative;
    background: url("./images/bg.jpg");
    font-size: 62.5%; 

}
h1 {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 120px;
}

h2 {
	text-align: center;
	font-family: 'Inconsolata', monospace;
	font-size: 30px;
}

p {
	font-family: 'Open Sans', sans-serif;
}

a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.center {
	text-align: center;
	align-items: center;
}

.main-body {

}

    /*---------header/ jumbo---------*/
div.jumbotron.jumbotron-fluid.hero-image{
	z-index: 3 !important;
}

.jumbotron{
	height: 450px;
	background: url("./images/CN-AA369_futcit_M_20160711125352.jpg") ;
	background-size: cover;
	padding-top-top: 1000px;
	z-index: 3 !important;
	padding: 20px;
	margin-bottom: 1rem;
}

.hero-image {
		z-index: 3 !important;

		}

#prog-bars-txt  p{
	color: purple !important;
}



.card {
		-webkit-transform: translate(6.9%, 0px);  /* Chrome, Safari, Opera */
		   -moz-transform: translate(6.9%, 0px);  /* Firefox */
			-ms-transform: translate(6.9%, 0px);  /* IE 9 */
				transform: translate(6.9%, 0px);  /* Standard syntax */   
	}


    /*---------pages/ sections---------*/

.heading-img img {

}


.c1-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 91vw;
	padding-bottom: 105px;
	padding-top: ;

}

.c1-h1 {
	font-size: 120px
	
	background-size: contain;
	position: center ;
	text-shadow: 9px 12px 15px white;
	
}



.c2-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 91vw;
	padding-bottom: 105px;
}

.c2-bg .card-text {
	color: #c749b6;
}



.c3-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 91vw;
	padding-bottom: 105px;
}

.c4-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 91vw;
	padding-bottom: 105px;
}

.c5-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 91vw;
	padding-bottom: 105px;

}

.c6-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 91vw;
	padding-bottom: 105px;

}

.c7-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 91vw;
	padding-bottom: 105px;
}

.c8-bg{
	background: url("./images/O7GZQQ0.jpg") ;
	margin: 0px 0 30px 0;
	width: 91vw;
	padding-bottom: 105px;
}

.coin-links i {
	margin: 0px 39px 0px 39px;
	color: #777777;
	-webkit-transform: scale(3);  /* Chrome, Safari, Opera */
       -moz-transform: scale(3);  /* Firefox */
        -ms-transform: scale(3);  /* IE 9 */
            transform: scale(3);  /* Modern Browsers */  
        transition: all .27s ease-in;
    -moz-transition: all .27s ease-in;
    -webkit-transition: all .27s ease-in; 

}

i:hover{
	color: #590ecc;
	cursor: pointer;
}

p#prog-bars-txt{
	color: white !important;
}

div.col-10, h1.c1-h1.outline{
	margin-bottom: 3px;
}



/* x small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	div.card-body {
		width: 83vw;
		font-size: 1.6em
	}

		#prog-bars-txt {
		font-size: 1.6em;
	}

	img.heading-img {
		height: 120px;
		width: 100px;
	}

	h1, strong{
		font-size: 2em;
		float: right;
	}

	div.jumbotron.jumbotron-fluid.hero-image{
		height: 270px !important;
	}

	h2{
		font-size: 21px;
	}

/* make writing smaller  font size, x-small, small, large, x-large*/
}



/* Med devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	div.card-body {
		width: 39vw;
		font-size: 1.6em;
	}

	#prog-bars-txt {
		font-size: 1.6em;
	}

	img.heading-img {
		height: 180px;
		width: 180px;
	}

	h1, strong{
		font-size: 66px;
		float: right;
	}

}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	div.card-body {
		width: 42vw;
		font-size: 1.63em;
	}

			#prog-bars-txt {
		font-size: 1.6em;
	}

	img.heading-img {
		height: 150px;
	}

	h1, strong {
		font-size: 3.3em;
	}

		div.jumbotron.jumbotron-fluid.hero-image{
		height: 399px !important;
	}


}


/* x large devices (1200px and up) */
@media only screen and (min-width: 1200px) {

	h1, strong {
		font-size: 3.6em
	}

	div.card-body {
		width: 36vw;
		font-size: 2em;
	}

	#prog-bars-txt {
		font-size: 2em;
	}

}






















    /*---------nav---------*/
.fb1 {
    position: fixed;
    right: 0;
    bottom: 30%;
    left: 0;
    z-index: -1;
    overflow-y: auto;
    padding-top:450px;
    margin-top:450PX;
    text-decoration: none;


}
nav,
.nav{
	z-index: 0;
	overflow: hidden;
	    padding-top:450px;
    margin-top:450PX;

}


    /*---------footer---------*/
footer{
    height: 100px;

	margin-top: 105px;
}
i.far,
i.fas {
	padding-top: 21px;
	margin-top: 21px ;
}

.social-networks{
    text-align: center;
}

.social-networks li {
    display:inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #590ecc;
    text-decoration: none;
}

.progress {
	margin: 20px;
}

.social-networks i:hover, 
a:hover{
color: blue;
cursor: pointer;
    transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}


./images/cn-aa369_futcit_m_201607111253.jpg